:root {
  --key-width: 60px;
  --key-height: 60px
}

body {
  font-family: 'Chivo Mono', monospace;
  font-size: 1px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.input-textarea {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-family: 'Chivo Mono', monospace;
  line-height: 1.5;
  font-weight: 100;
  outline: none;
}

.input-textarea:focus {
  border: 1px solid #d1d6d8;

  color: #000000;
  box-shadow: inset 0px 0px 6px -3px rgba(185, 189, 193, 0.6);
}

.keyboard__wrapper {
  display: grid;
  grid-template-columns: repeat(30, calc(var(--key-width) / 2));
  grid-template-rows: repeat(5, var(--key-height));
  column-gap: 0px;
  row-gap: 12px;
  justify-content: space-between;

  max-width: 1200px;
  padding: 14px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 0px 5px 5px -5px rgba(185, 189, 193, 0.6);
  user-select: none;
}

.keyboard-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;

  grid-column: span 2;
  height: var(--key-height);

  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
  box-shadow: 0px 5px 5px -5px rgba(185, 189, 193, 0.6);

  /* for alt key */
  position: relative;
}

.keyboard-button:hover {
  background-color: #d1d6d8c0;
  border: 1px solid #D1D6D8;
  /* color: #ffffff; */
}

.active,
.keyboard-button:active {
  background-color: #d1d6d8c0;
  border: 1px solid #D1D6D8;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.keyboard-button .before {
  font-size: 0.8rem;
  color: #aaaaaa;
  font-weight: 100;
  position: absolute;
  top: 5px;
  left: 8px;
}

.keyboard-button__dark {
  background-color: #D1D6D8;
}

.keyboard-button[key-code="Tab"],
.keyboard-button[key-code="Delete"] {
  grid-column: span 3;
}

.keyboard-button[key-code="Backspace"], 
.keyboard-button[key-code="CapsLock"],
.keyboard-button[key-code="Enter"],
.keyboard-button[key-code="ShiftLeft"]  {
  grid-column: span 4;
}

.keyboard-button[key-code="Space"] {
  grid-column: span 14;
}